[flake8]
exclude =
    .git,
    .github,
    .pytest_cache
    .vscode
    __pycache__
max-line-length = 120
ignore =
    E501
    W503
per-file-ignores =
    # too many leading '#' for block comment
    conf/default_settings.py: E266
    # Multi-line container not broken after opening character
    core/analyze.py: JS101
    # too many leading '#' for block comment
    settings.tpl.py: E266
    # module imported but unused
    surrogate/tests/test_surrogate.py: F401
    # local variable 'succeeded' is assigned to but never used
    conftest.py: F841
inline-quotes = "
pytest-fixture-no-parentheses = True
