[flake8]
ignore =
    # line break before binary operator
    W503,
    # line break after binary operator
    W504
exclude =
    .git,
    .github,
    .pytest_cache
    .vscode
    __pycache__
max-line-length = 120
