# This workflow will check modified files with ruff

name: ruff
on:
  pull_request:
    types: [opened, reopened, synchronize]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install Poetry
        uses: abatilo/actions-poetry@v4
      - name: Install dependencies
        run: make install-dev
      - name: Get changed python source files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            *.py
      - name: Check code with ruff
        if: steps.changed-files.outputs.any_changed == 'true'
        run: poetry run ruff check ${{ steps.changed-files.outputs.all_changed_files }}
